<!DOCTYPE html>
  <html>
  <head>
    <title></title>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-9">
  </head>
  <body>
  <h1>Reporte de Ordenes</h1>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 200px">Nombre</th>
        <th style="width: 200px">Direccion</th>
        <th style="width: 200px">Email</th>
        <th style="width: 200px">Tipo de Pago</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.name%></td>
      <td><%= order.address%></td>
      <td><%= order.email%></td>
      <td><%= order.pay_type%></td>
    </tr>
        <%end%>
    </tbody>
  </table>
  </body>
  </html>